@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "kalpurush";
        src: url("../fonts/kalpurush.eot");
        src: url("../fonts/kalpurush.eot?#iefix") format("embedded-opentype"),
            url("../fonts/kalpurush.woff") format("woff"),
            url("../fonts/kalpurush.ttf") format("truetype");
    }

    @font-face {
        font-family: Roboto;
        src: url(../fonts/Roboto-Regular.ttf) format('truetype'),
            url(../fonts/Roboto-Medium.ttf) format('truetype'),
            url(../fonts/Roboto-Bold.ttf) format('truetype'),
    }

    body {
        font-family: 'Roboto', 'kalpurush';
    }
}

@layer components {
    .base-trans {
        @apply transition-all duration-300
    }

    .base-blank-btn {
        @apply border border-blue-500 px-5 py-2 text-blue-500 font-bold cursor-pointer hover:bg-blue-500 base-trans hover:text-white flex gap-1 rounded
    }

    .base-width {
        @apply w-[95%] sm:w-[80%] 3xl:w-[70%] 4xl:w-[50%] mx-auto
    }

    .job-search-input-container {
        @apply flex items-center bg-gray-100 pl-1 sm:pl-3 w-full;
    }

    .job-search-input {
        @apply bg-gray-100 text-[16px] sm:text-xl pl-1 py-2 w-full focus:outline-none rounded-r-full;
    }

    .doc-upload-layout {
        @apply my-3 p-2 border rounded-md sm:flex justify-between space-y-5 sm:space-y-0 gap-3;
    }

    .recruitment-form-container {
        @apply bg-white p-2 sm:p-6 shadow-md animate-fade-in-up;
    }

    /* Dynamic input form's utility design */
    .dynamic-inputs-row {
        @apply my-10 bg-white border border-gray-400 rounded;
    }

    .dynamic-action-container {
        @apply sm:absolute top-3 right-3 flex gap-2 flex-row-reverse justify-between items-center;
    }

    .dynamic-action-edit-btn {
        @apply base-blank-btn w-fit text-center text-blue-600 hover:bg-blue-600 border-blue-600 items-center px-2;
    }

    /* Dynamic input form's utility design */
}